<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>austin_grooves</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/> 
    </head>

    <body class="fancy"/>
   <!--    <h1><img src="{% static "austintx.jpg" %}" alt="Austin Pic" class="pics"/></h1>  -->
     <!--   <h1><img src="{% static "mur_1.jpg" %}" alt="Austin Pic" class="pics"/></h1> -->
     <!--    <h1><img src="{% static "mur_2.jpg" %}" alt="Austin Pic" class="pics"/></h1> -->
      <!--  <h1><img src="{% static "mur_3.jpg" %}" alt="Austin Pic" class="pics"/></h1> -->
          <h1><img src="{% static "mur_4.jpg" %}" alt="Austin Pic" class="pics"/></h1> 
     <!--    <h1><img src="{% static "austintx.jpg" %}" alt="Austin Pic" class="pics"/></h1> -->

   
         <br />
    </body>

</html>
<!-- -->